html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab'; }
  html .clear, body .clear {
    clear: both; }
  html section, body section {
    position: relative;
    padding: 4%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center; }
    html section .credit, body section .credit {
      position: absolute;
      font-size: 11px;
      bottom: 0;
      right: 0;
      color: white;
      background-color: rgba(0, 0, 0, 0.4);
      padding: 2px 4px 2px 2px; }
      html section .credit a, body section .credit a {
        color: white; }
  html a, body a {
    text-decoration: none; }
    html a.hero-link, body a.hero-link {
      display: inline-block;
      background-color: rgba(20, 127, 215, 0.8);
      color: white;
      border-radius: 5px;
      padding: 0.5em;
      font-family: "Open Sans";
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 2em;
      text-decoration: none; }
      html a.hero-link:hover, body a.hero-link:hover {
        background-color: #147fd7; }
      html a.hero-link sub, body a.hero-link sub {
        display: block;
        font-size: 0.5em;
        letter-spacing: 20px;
        padding: 0;
        display: block;
        text-align: center;
        text-indent: 1.3em; }

#newyork-title-page {
  background-image: url(../images/liberty.jpg); }
  #newyork-title-page h1 {
    font-size: 5em;
    margin: 0;
    color: white;
    line-height: 1.5; }
    #newyork-title-page h1 span {
      opacity: 0.7; }
    #newyork-title-page h1 strong {
      opacity: 1;
      background-color: white;
      color: #147FD7;
      padding: 0 0.3em; }
  #newyork-title-page h3 {
    float: left; }
  #newyork-title-page h5 {
    float: left;
    margin-top: -30px;
    bottom: 40px;
    font-family: 'Open Sans';
    color: #b73b3b;
    line-height: 6em;
    transform: translate(25%, 0);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 40px;
    position: relative;
    text-align: center; }
    #newyork-title-page h5 span {
      position: absolute;
      top: -20px;
      left: 50%;
      line-height: 1;
      padding: 1em;
      background-color: #b73b3b;
      color: white;
      text-transform: uppercase;
      letter-spacing: 1px;
      transform: translate(-50%, 0); }
    #newyork-title-page h5 div#super-hero {
      font-size: 16em;
      margin: 0;
      padding: 0;
      line-height: 1; }
    #newyork-title-page h5 sub {
      /* position: absolute; */
      line-height: 1px;
      text-transform: uppercase;
      font-size: 3em;
      letter-spacing: 0.1em; }
  #newyork-title-page .scroll-down a {
    width: 60px;
    display: inline-block;
    font-size: 10px !important;
    text-align: center;
    background-color: rgba(20, 127, 215, 0.7);
    color: white;
    border-radius: 50px;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    top: 90vh;
    right: 1%; }

#not-democrat {
  background-image: url(../images/bernie.jpg);
  padding-left: 55%; }
  #not-democrat p {
    /* background-color: rgba(255,255,255,1); */
    padding: 13px;
    margin: 0;
    color: white;
    position: relative;
    margin-bottom: 3em; }
    #not-democrat p span.bad-mark {
      font-size: 3.4em;
      vertical-align: middle;
      color: white;
      position: absolute;
      left: -0.8em;
      top: 0; }
    #not-democrat p span.bad-statement {
      font-size: 2em;
      /* color: white; */
      vertical-align: middle;
      /* color: #b73b3b; */ }
      #not-democrat p span.bad-statement strong {
        color: #b73b3b;
        background-color: white;
        padding: 0px 9px; }
  #not-democrat #sub-super-hero .hero-link {
    margin-left: -53%;
    padding: 6% 5%; }
    #not-democrat #sub-super-hero .hero-link span.mark {
      background-color: #258011;
      border-radius: 100px;
      padding: 4px 10px;
      border: 3px white solid;
      vertical-align: middle; }
    #not-democrat #sub-super-hero .hero-link span.main-text {
      font-size: 0.9em; }

section#heres-how {
  background-image: url(../images/nyc-pride.jpg); }
  section#heres-how h1 {
    opacity: 1;
    background-color: #014985;
    color: white;
    padding: 0 0.3em;
    display: inline-block;
    font-size: 3em;
    margin: 0; }
  section#heres-how div.heres-how-text {
    width: 73%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 2%;
    margin-left: 50%;
    transform: translate(-50%, 0);
    margin-top: 2em;
    margin-bottom: 5em;
    color: #014985; }
    section#heres-how div.heres-how-text > ul > li {
      margin-bottom: 1em;
      font-size: 1.5em; }
      section#heres-how div.heres-how-text > ul > li a {
        display: inline-block;
        background-color: rgba(20, 127, 215, 0.8);
        color: white;
        padding: 0 7px;
        border-radius: 4px; }
        section#heres-how div.heres-how-text > ul > li a:hover {
          background-color: #147fd7; }
      section#heres-how div.heres-how-text > ul > li > ul li {
        margin-bottom: 0.5em; }

section#thankyou {
  background-image: url(../images/bernie-nv.jpg); }
  section#thankyou h1 {
    color: rgba(255, 255, 255, 0.95);
    font-size: 3.5em; }
    section#thankyou h1 strong {
      color: #147FD7;
      padding: 0.2em 0.4em;
      background-color: white; }
  section#thankyou h2 a {
    display: inline-block;
    color: white;
    font-size: 1.4em; }
    section#thankyou h2 a:hover {
      background-color: rgba(183, 59, 59, 0.4); }
  section#thankyou p {
    color: white;
    padding: 0;
    font-size: 2em; }
  section#thankyou p#thunderclap-spiel {
    width: 50%;
    float: left; }
    section#thankyou p#thunderclap-spiel strong {
      padding: 0em 0.2em;
      background-color: rgba(183, 59, 59, 0.9);
      color: white;
      display: inline-block; }
  section#thankyou p#thunderclap-spiel-2 {
    padding-left: 50%; }
  section#thankyou h3 {
    width: 40%;
    float: left; }
    section#thankyou h3#last {
      float: left;
      margin-left: 50%; }
    section#thankyou h3 a {
      background-color: rgba(37, 128, 17, 0.8);
      color: white;
      padding: 0.8em 1em;
      font-size: 2.4em;
      display: inline-block;
      margin-top: 1em;
      font-family: "Open Sans"; }
      section#thankyou h3 a sub {
        padding: 0;
        margin: 0;
        font-size: 0.5em;
        display: block; }
      section#thankyou h3 a:hover {
        background-color: rgba(37, 128, 17, 0.8); }

section#what-else-todo {
  background-color: #333333;
  text-align: center; }
  section#what-else-todo h3 {
    font-size: 3em;
    color: lightgray;
    margin: 0 0 30px; }
  section#what-else-todo > div {
    width: 29%;
    display: inline-block;
    vertical-align: top;
    margin-right: 1%;
    margin-left: 1%; }
    section#what-else-todo > div h4 {
      position: relative;
      margin: 0;
      padding: 0;
      background-image: url(http://placehold.it/500x500);
      width: 100%;
      height: 290px;
      background-size: cover;
      background-position: center center;
      border-radius: 15px 15px 0 0; }
      section#what-else-todo > div h4 > div.credit {
        background: transparent;
        font-size: 8px;
        font-family: "Open Sans";
        opacity: 0.8; }
        section#what-else-todo > div h4 > div.credit:hover {
          opacity: 1; }
      section#what-else-todo > div h4#first-item {
        background-image: url(../images/share.jpg);
        background-position: top center; }
      section#what-else-todo > div h4#second-item {
        background-image: url(../images/volunteer.jpg); }
      section#what-else-todo > div h4#third-item {
        background-image: url(../images/longisland.jpg); }
      section#what-else-todo > div h4 span {
        position: absolute;
        bottom: 10px;
        left: 10px;
        padding: 0.3em 0.7em;
        font-family: "Open Sans";
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.3em;
        background-color: #147FD7;
        color: white; }
    section#what-else-todo > div > div {
      background-color: #147FD7;
      margin: 0;
      padding: 13px;
      color: whitesmoke;
      border-radius: 0 0 2px 2px;
      height: 150px; }
      section#what-else-todo > div > div p {
        margin: 0;
        text-align: left; }
      section#what-else-todo > div > div a {
        background-color: white;
        color: #147FD7;
        display: inline-block;
        padding: 0.3em 2em;
        border-radius: 4px;
        margin-top: 1em;
        font-size: 1.2em;
        border: 1px solid white; }
        section#what-else-todo > div > div a:hover {
          background: transparent;
          color: white; }

footer {
  background-color: #333333;
  color: white;
  font-size: 0.8em;
  padding: 2% 10%;
  text-align: center;
  font-family: "Open Sans"; }
  footer a {
    color: white;
    font-weight: bold; }
    footer a:hover {
      text-decoration: underline; }

/*# sourceMappingURL=base.css.map */
