html,body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #147FD7;

  &:hover {
    text-decoration: underline;
  }
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}
section {
  width: 100%;
  text-align: center;
  & > div#map-container {
    display: inline-block;
    width: 698px;
    float: left;
    padding: 0.5% 10px;
  }
  & > div#map-event-list {
    width: 450px;
    float: right;
    padding: 0.5% 10px 0.5% 10px;
  }
}
.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.hexagon {
  fill: none;
  stroke: #333333;
  stroke-width: 0.25px;

  &.highlight {
    fill: #ea504e !important;
  }
}

.state-label {
  font-family: sans-serif;
  fill: #333333;
  font-size: 12px;
  font-weight: bold;

  &.highlight {
    fill: white !important;
  }
}

.state-label, .hexagon {
  cursor: pointer;
}

#map-event-list {
  text-align: left;
  & > h2 {
    text-align: left;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      margin-top: 10px;

      border: 1px dotted rgb(234, 234, 234);
      border-width: 0 0 1px 0;

      &:last-child { border: none; }

      p {
        padding: 0;
      }
    }
  }
}

sub {
  margin: 1%;
}

div#social {
  margin: 0 1%;
}

#map-event-list {
  #event-state-name {
    h2 {
      img {
        height: 30px;
        vertical-align: middle;
        // border: solid 1px lightgray;
      }
      span {
          display: inline-block;
          vertical-align: middle;
          color: #ea504e;
          text-transform: uppercase;
          font-size: 19px;
      }
    }
  }
  .event-item-date {
    color: rgb(186, 187, 186);
    display: block;
    font-size: 14px;
  }
}

#header {
  padding: 2%;
}

#event-nationwide {
  & > h4 {
    color: #ea504e;
    border: 2px whitesmoke solid;
    border-width: 10px 0 0;
    padding-top: 22px;
    margin-top: 40px;
  }
}

$phone-min-width: 320px;
$phone-max-width: 950px;

/* For Phones! */
@media only screen
  and (min-width: $phone-min-width)
  and (max-width: $phone-max-width) {

  section {
    padding: 0;
    #map-container {
      width: 96% !important;
      margin: 2%;
      float: none !important;
      display: block;
    }
    #map-event-list {
      display: block;
      width: 96% !important;
      margin: 2%;
      float: none !important;
    }
  }

}
