html,body{
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  color: #333333;
}
section {
  width: 100%;
  text-align: center;
  & > div#map-container {
    display: inline-block;
    width: 768px;
    float: left;
    padding: 0.5% 10px;
  }
  & > div#map-event-list {
    width: 450px;
    float: right;
    padding: 0.5% 10px 0.5% 10px;
  }
}
.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.hexagon {
  fill: none;
  stroke: #333333;
  stroke-width: 0.25px;

  &.highlight {
    fill: #ea504e !important;
  }
}

.state-label {
  font-family: sans-serif;
  fill: #333333;
  font-size: 12px;
  font-weight: bold;

  &.highlight {
    fill: white !important;
  }
}

.state-label, .hexagon {
  cursor: pointer;
}

#map-event-list {
  text-align: left;
  & > h2 {
    text-align: left;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      margin-top: 10px;

      border: 1px dotted lightgray;
      border-width: 1px 0 0 0;

      // &:last-child { border: none; }

      p {
        padding: 0;
      }
    }
  }
}

sub {
  padding: 2%;
}

#map-event-list {
  #event-state-name {
    h2 {
      img {
        height: 30px;
        vertical-align: middle;
        // border: solid 1px lightgray;
      }
      span {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
