.sass-cache
lib
d/july29.json
.orig
*.orig
.DS_Store
*.pycindex.html.BACKUP.43826.html
index.html.BASE.43826.html
index.html.BACKUP.43826.html
index.html.LOCAL.43826.html
index.html.REMOTE.43826.html
