$blue: #147FD7;
$red: #ea504e;

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

@mixin event-item-content() {
  font-family: 'Open Sans', sans-serif;
  // li.event-nationwide-item, li.event-list-item {

      a.button-rsvp {
        &:hover { color: white !important; }
      }

      a[href='javascript: void(0);'] {
        color: rgb(51, 51, 51);
        text-decoration: none;
        cursor: text;
      }
      h5 { margin-bottom: 0; }
      h3 { margin-top: 0; margin-bottom: 0;

      }
      h4.event-organizer { margin-top: 0;
      font-size: 0.75em;
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 1px;}
    // }

    #event-state-name {
      h2 {
        img {
          height: 30px;
          vertical-align: middle;
          // border: solid 1px lightgray;
        }
        span {
            display: inline-block;
            vertical-align: middle;
            color: #ea504e;
            text-transform: uppercase;
            font-size: 19px;
        }
      }

    }
    .event-item-date {
      color: rgb(186, 187, 186);
      display: block;
      font-size: 0.9em;
    }

    h5.event-location {
      font-weight: normal;
      font-size: 0.9em;
      color: #555555;
    }


  .event-item-name { font-weight: bold;}

  .event-item-name.event-full {
    color: gray;
  }

  h5.event-basics {
    color: #babbba;
    .event-item-date {
      display: inline-block;
    }
  }
  h5.event-location {
    margin-top: 0.9em;
  }

  .event-item-date {
    color: #babbba;
    display: block;
    font-size: 0.9em;
  }

  & > p { margin-bottom: 0; margin-top: 16px;}
}



#billionaire-logo { fill: $blue; }
#bott-bg-logo { display: inline-block; }
#bott-color-logo { display: none; }

section#main-title-area {
  h4 {
    padding: 10px;
    margin: 0;
    background-color: whitesmoke;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: gray;
    font-size: 0.8em;

    div#social {
      display: inline-block;
    }
    & > * { vertical-align: middle; }
  }
}

#event-list-area {
  div#footer-area {
    display: none;
  }
}

.leaflet-popup-content {
  @include event-item-content();

  h5.event-location {
    font-size: 1em !important;
  }
  & > p {
    margin-bottom: 0;
    margin-top: 0.5em;
  }
}

#event-list-area, footer {
  div#footer-area {
        text-align: center;
        margin-top: 20px;
        // border: solid 3px #EEEEEE;
        // border-width: 3px 0 0 0;
        // padding-top: 10px;

        #footer-billionaire {
          svg image {
            // transform: translate(-50%,0);
            // -webkit-transform: translate(-50%,0);
            // -moz-transform: translate(-50%, 0);
            transform:translate(0,0);
            -ms-transform:translate(0,0); /* IE 9 */
            -moz-transform:translate(0,0); /* Firefox */
            -webkit-transform:translate(0,0); /* Safari and Chrome */
            -o-transform:translate(0,0); /* Opera */

          }
        }

        h5,div#paid-for-bernie-box, sub {
          text-transform: uppercase;
          font-weight: normal;
          letter-spacing: 0.15em;
          margin: 0 0 5px 0;
          color: #777777;
        }
        sub {
          display: block;
          font-size: 0.7em;
        }

        div#paid-for-bernie-box {
          padding: 0.7em 1em;
          border: 1px #AAA solid;
          font-size: 0.8em;
          display: inline-block;

          margin-top: 10px;

          &:after {
            content: ' ';
            clear: both;
          }
        }
        span#footer-billionaire {
          display: inline-block;
        }

      }
}

div.main-title-area {
  strong {
    font-size: 1.5em;
    font-weight: normal;
    color: #333333;
  }
  display: inline-block;
  margin-left: 140px;
  float: left;
  padding: 5px 0 0;
    // margin: 0;
    // background-color: whitesmoke;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: gray;
    font-size: 0.8em;

    div#social {
      display: inline-block;
    }
  & > * { vertical-align: middle; }
  & > span > * { vertical-align: middle; }
}
section#map-section {
  position: relative;
  min-height: 300px;

  div#map-legend {
    position: absolute;
    z-index: 10000;
    bottom: 0;
    left: 0;

    background-color: #F5F5F5;
    padding: 5px;
  }

  div#ad-push-banner {
    position: absolute;
    bottom: 0px;
    left: 5px;
    z-index: 1000;

    width: 25%;
    img {
      width: 100%;
    }
  }
  div#map-event-list {
    div#map-instructions {
      display: none;
    }
    position: absolute;
    top: 20px;
    right: 20px;
    width: 390px !important;
    background-color: rgba(255,255,255,0.95);
    padding: 20px;
    border-radius: 4px;
    border: 1px solid whitesmoke;
    // border-width: 15px 0 0;
    box-shadow: 0px 2px 1px rgba(0,0,0,0.3);


    form#zip-and-distance {
      text-align: center;
      position: relative;

      #error-box {
        color: $red;
        position: absolute;
        width: 250px;
        top: -15px;
        left: 50%;
        margin-left: -125px;
        text-align: center;
        font-size: 0.6em;
        text-transform: uppercase;

      }

      input[name=zipcode] {
          width: 80%;
          min-width: 200px;
          font-size: 1em;
          text-align: center;
          border-color: whitesmoke;
          border-collapse: collapse;
          border: 1px solid lightgray;
          padding: 6px 0;
          font-family: 'Open Sans', sans-serif;

          letter-spacing: 0.05em;

      }

      ul#distance-list {
        list-style-type: none;
        li {
          display: inline-block;
          border-width: 0;

          input[type=radio] {
            display: none;
          }

          input[type=radio] {
            &:checked+label {
              font-weight: bold;
              font-size: 0.8em;
              color: $blue;
            }
          }
          label {
            color: gray;
            font-size: 0.7em;
            text-transform: uppercase;
            padding: 0 4px;
            cursor: pointer;
          }
        }
      }
    }
    h2#event-results-count {
        text-transform: uppercase;
        color: #ea504e;
        letter-spacing: 1px;
        font-size: 1em;
        padding: 3px 0 5px;
        margin: 10px 0 0;
        font-weight: normal;
        text-align: left;
        border: 1px solid whitesmoke;
        border-width: 1px 0 1px 0;

        span {
          font-size: 0.8em;

          &#event-distance {
            font-weight: bold;
          }
        }

        #event-city {
          // font-size: 1.4em;
          letter-spacing: 2px;
          font-size: 0.9em;
          // text-align: center;
          font-weight: bold;
        }
        // #event-counter, #event-distance { font-weight: bold; font-size:}
    }
    #event-list-area {
      max-height: calc(100vh - 365px);
      overflow: auto;

      .event-list-item {
        padding-bottom: 20px;
        @include event-item-content();
      }
    }
  }

  div#map {
    width: 100%;
    height: calc(100vh - 70px);
  }
}

.leaflet-overlay-pane {
  position: relative;
  svg {
    position: absolute;
    circle {
      cursor: pointer;
      fill: $red;

      &.event-dwp { opacity: 0.95 !important; }
      // stroke-width: 0px;
      &[data-maxcapacity='true'] {
        fill: $red;
        opacity: 0.3;
      }

      stroke: #983130;
      &#center-item {
        fill: $blue;
      }

      &.circle-selected {
        // fill: $blue !important;
        // stroke: white !important;
        stroke-width: 5px !important;
        opacity: 1;
      }
    }
  }
}

footer {
    background-color: whitesmoke;
    text-align: center;
    padding-top: 0;
    padding-bottom: 2px;
  sub {

    text-transform: uppercase;     font-weight: normal;
    letter-spacing: 0.15em;     margin: 0 0 5px 0;     color: #777777;
    font-size: 0.4em;
    padding-bottom: 0;
    padding-top: 0;

  }

  div#footer-area {
    margin-top: 0px;
    padding-top: 20px;
  }
}


$phone-min-width: 320px;
$phone-max-width: 720px;

/* For Phones! */
@media only screen
  and (min-width: $phone-min-width)
  and (max-width: $phone-max-width) {

  body {
    overflow-x: hidden;
    overflow-y: auto;
  }
  footer { display: none !important; }
  div#header {
    display: none;
    a#header-logo {
      margin-left: 0;
      width: 100%;
      // float: left;
      img {
        // width: 100%;
        // height: auto !important;
        margin-left:0 !important;
      }
    }
    nav { display: none; }
    div.main-title-area {  display: none; }
    // div.main-title-area {
    //   float: left;
    //   width: 75vw;
    //   padding-left: 5px;
    //   margin-left: 0;
    //   strong {
    //     font-size: 1em;
    //     font-weight: 600;
    //   }

    //   nav { display: none !important; }
    // }
  }

  #ad-push-banner { display: none; }
  section#map-section {
    min-height: 0;
    height: auto !important;
    box-shadow: none !important;
    // div#map { display: none; }
    width: 100% !important;
    div#map {
      // height: 70vh !important;
      // margin-top: 17vh;
    }
    div#map-event-list {
      width: 100% !important;
      position: relative;
      border: none;
      min-height: 0;
      max-height: auto;
      top: auto;
      box-shadow: none !important;

      position: absolute;
      top: -17vh;
      left: 0;
      margin: 0;
      padding-bottom: 7px;
      padding-left: 0;
      padding-top: 0;

      div#map-instructions {
        display: block;
        background-color: whitesmoke;
        padding: 2%;
        margin-bottom: 7px;
        font-size: 0.7em;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: #777777;
        font-weight:  600;

        & > * { vertical-align: middle; }
        img { height: 20px; }
        span { font-weight:  600; }

      }
      // margin-left: 50%;
      // transform: translate(-50%,0);

      form#zip-and-distance {

        div#zipcode-container {
          width: 7em;
          display: inline-block;
          vertical-align: middle;

          input[name=zipcode] {
            width: 92%;
            min-width: 92%;
            font-size: 0.9em;
            text-transform: uppercase;
          }
        }

        div#distance-container {
          // float: right;
          width: 12em;
          vertical-align: middle;
          display: inline-block;

          ul#distance-list {
            text-align: left;

            li {
              margin: 0 1%;
              label {
                padding: 0;
                font-size: 0.85em;
              }
              &:last-child {
                display: none;
                margin-right: 0;
              }
              // &:first-child { margin-left: 0; }
            }
          }
        }

      }

      div#event-list-area {
        max-height: inherit !important;
        overflow: none;

        ul#event-list {
          li.event-list-item {

            &:last-child {
              padding-bottom: 20px;
              margin-bottom: 20px;
              border-width: 1px 0;
            }
          }
        }

        div#footer-area {
          margin-top: 5px !important;
          border: solid 3px #EEEEEE !important;
          border-width: 0 !important;
          padding-top: 0px !important;
          width: 100% !important;
          display: block !important;
        }

        & > p {
            width: 98%;
        }

      }

      div#event-results-area {
        position: absolute;
        margin: 0;
        background-color: white;
        width: 91%;
        padding: 0 2%;
        // margin-left: 50%;
        // transform: translate(-50%, 0);

        h2#event-results-count {
          margin-top: 10px !important;
        }

        #bott-bg-logo { display: none !important; }
        #bott-color-logo { display: inline-block !important; }
      }
    }
  }
}
