::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px; }

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }

#billionaire-logo {
  fill: #147FD7; }

#bott-bg-logo {
  display: inline-block; }

#bott-color-logo {
  display: none; }

section#main-title-area h4 {
  padding: 10px;
  margin: 0;
  background-color: whitesmoke;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: gray;
  font-size: 0.8em; }
  section#main-title-area h4 div#social {
    display: inline-block; }
  section#main-title-area h4 > * {
    vertical-align: middle; }

#event-list-area div#footer-area {
  display: none; }

.leaflet-popup-content {
  font-family: 'Open Sans', sans-serif; }
  .leaflet-popup-content a.button-rsvp:hover {
    color: white !important; }
  .leaflet-popup-content a[href='javascript: void(0);'] {
    color: #333333;
    text-decoration: none;
    cursor: text; }
  .leaflet-popup-content h5 {
    margin-bottom: 0; }
  .leaflet-popup-content h3 {
    margin-top: 0;
    margin-bottom: 0; }
  .leaflet-popup-content h4.event-organizer {
    margin-top: 0;
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px; }
  .leaflet-popup-content #event-state-name h2 img {
    height: 30px;
    vertical-align: middle; }
  .leaflet-popup-content #event-state-name h2 span {
    display: inline-block;
    vertical-align: middle;
    color: #ea504e;
    text-transform: uppercase;
    font-size: 19px; }
  .leaflet-popup-content .event-item-date {
    color: #babbba;
    display: block;
    font-size: 0.9em; }
  .leaflet-popup-content h5.event-location {
    font-weight: normal;
    font-size: 0.9em;
    color: #555555; }
  .leaflet-popup-content .event-item-name {
    font-weight: bold; }
  .leaflet-popup-content .event-item-name.event-full {
    color: gray; }
  .leaflet-popup-content h5.event-basics {
    color: #babbba; }
    .leaflet-popup-content h5.event-basics .event-item-date {
      display: inline-block; }
  .leaflet-popup-content h5.event-location {
    margin-top: 0.9em; }
  .leaflet-popup-content .event-item-date {
    color: #babbba;
    display: block;
    font-size: 0.9em; }
  .leaflet-popup-content > p {
    margin-bottom: 0;
    margin-top: 16px; }
  .leaflet-popup-content h5.event-location {
    font-size: 1em !important; }
  .leaflet-popup-content > p {
    margin-bottom: 0;
    margin-top: 0.5em; }

#event-list-area div#footer-area, footer div#footer-area {
  text-align: center;
  margin-top: 20px; }
  #event-list-area div#footer-area #footer-billionaire svg image, footer div#footer-area #footer-billionaire svg image {
    transform: translate(-100px, 0);
    -ms-transform: translate(-100px, 0);
    /* IE 9 */
    -moz-transform: translate(-100px, 0);
    /* Firefox */
    -webkit-transform: translate(-100px, 0);
    /* Safari and Chrome */
    -o-transform: translate(-100px, 0);
    /* Opera */ }
  #event-list-area div#footer-area h5, #event-list-area div#footer-area div#paid-for-bernie-box, #event-list-area div#footer-area sub, footer div#footer-area h5, footer div#footer-area div#paid-for-bernie-box, footer div#footer-area sub {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.15em;
    margin: 0 0 5px 0;
    color: #777777; }
  #event-list-area div#footer-area sub, footer div#footer-area sub {
    display: block;
    font-size: 0.7em; }
  #event-list-area div#footer-area div#paid-for-bernie-box, footer div#footer-area div#paid-for-bernie-box {
    padding: 0.7em 1em;
    border: 1px #AAA solid;
    font-size: 0.8em;
    display: inline-block;
    margin-top: 10px; }
    #event-list-area div#footer-area div#paid-for-bernie-box:after, footer div#footer-area div#paid-for-bernie-box:after {
      content: ' ';
      clear: both; }
  #event-list-area div#footer-area span#footer-billionaire, footer div#footer-area span#footer-billionaire {
    display: inline-block; }

div.main-title-area {
  display: inline-block;
  margin-left: 140px;
  float: left;
  padding: 5px 0 0;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: gray;
  font-size: 0.8em; }
  div.main-title-area strong {
    font-size: 1.5em;
    font-weight: normal;
    color: #333333; }
  div.main-title-area div#social {
    display: inline-block; }
  div.main-title-area > * {
    vertical-align: middle; }
  div.main-title-area > span > * {
    vertical-align: middle; }

section#map-section {
  position: relative;
  min-height: 300px; }
  section#map-section div#map-legend {
    position: absolute;
    z-index: 10000;
    bottom: 0;
    left: 0;
    background-color: #F5F5F5;
    padding: 5px; }
  section#map-section div#ad-push-banner {
    position: absolute;
    bottom: 0px;
    left: 5px;
    z-index: 1000;
    width: 25%; }
    section#map-section div#ad-push-banner img {
      width: 100%; }
  section#map-section div#map-event-list {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30% !important;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 4px;
    border: 1px solid whitesmoke;
    border-width: 15px 0 0;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3); }
    section#map-section div#map-event-list div#map-instructions {
      display: none; }
    section#map-section div#map-event-list form#zip-and-distance {
      text-align: center;
      position: relative; }
      section#map-section div#map-event-list form#zip-and-distance #error-box {
        color: #ea504e;
        position: absolute;
        width: 250px;
        top: -15px;
        left: 50%;
        margin-left: -125px;
        text-align: center;
        font-size: 0.6em;
        text-transform: uppercase; }
      section#map-section div#map-event-list form#zip-and-distance input[name=zipcode] {
        width: 80%;
        min-width: 200px;
        font-size: 1em;
        text-align: center;
        border-color: whitesmoke;
        border-collapse: collapse;
        border: 1px solid lightgray;
        padding: 6px 0;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 0.05em; }
      section#map-section div#map-event-list form#zip-and-distance ul#distance-list {
        list-style-type: none; }
        section#map-section div#map-event-list form#zip-and-distance ul#distance-list li {
          display: inline-block;
          border-width: 0; }
          section#map-section div#map-event-list form#zip-and-distance ul#distance-list li input[type=radio] {
            display: none; }
          section#map-section div#map-event-list form#zip-and-distance ul#distance-list li input[type=radio]:checked + label {
            font-weight: bold;
            font-size: 1em;
            color: #147FD7; }
          section#map-section div#map-event-list form#zip-and-distance ul#distance-list li label {
            color: gray;
            font-size: 0.8em;
            text-transform: uppercase;
            padding: 0 5px;
            cursor: pointer; }
    section#map-section div#map-event-list h2#event-results-count {
      text-transform: uppercase;
      color: #ea504e;
      letter-spacing: 2px;
      font-size: 1em;
      padding: 0 0 5px;
      margin: 20px 0 0;
      font-weight: normal;
      box-shadow: 0 5px 1px rgba(0, 0, 0, 0.03); }
      section#map-section div#map-event-list h2#event-results-count #event-city {
        font-size: 1.4em; }
    section#map-section div#map-event-list #event-list-area {
      max-height: 300px;
      overflow: auto; }
      section#map-section div#map-event-list #event-list-area .event-list-item {
        padding-bottom: 20px;
        font-family: 'Open Sans', sans-serif; }
        section#map-section div#map-event-list #event-list-area .event-list-item a.button-rsvp:hover {
          color: white !important; }
        section#map-section div#map-event-list #event-list-area .event-list-item a[href='javascript: void(0);'] {
          color: #333333;
          text-decoration: none;
          cursor: text; }
        section#map-section div#map-event-list #event-list-area .event-list-item h5 {
          margin-bottom: 0; }
        section#map-section div#map-event-list #event-list-area .event-list-item h3 {
          margin-top: 0;
          margin-bottom: 0; }
        section#map-section div#map-event-list #event-list-area .event-list-item h4.event-organizer {
          margin-top: 0;
          font-size: 0.75em;
          text-transform: uppercase;
          font-weight: normal;
          letter-spacing: 1px; }
        section#map-section div#map-event-list #event-list-area .event-list-item #event-state-name h2 img {
          height: 30px;
          vertical-align: middle; }
        section#map-section div#map-event-list #event-list-area .event-list-item #event-state-name h2 span {
          display: inline-block;
          vertical-align: middle;
          color: #ea504e;
          text-transform: uppercase;
          font-size: 19px; }
        section#map-section div#map-event-list #event-list-area .event-list-item .event-item-date {
          color: #babbba;
          display: block;
          font-size: 0.9em; }
        section#map-section div#map-event-list #event-list-area .event-list-item h5.event-location {
          font-weight: normal;
          font-size: 0.9em;
          color: #555555; }
        section#map-section div#map-event-list #event-list-area .event-list-item .event-item-name {
          font-weight: bold; }
        section#map-section div#map-event-list #event-list-area .event-list-item .event-item-name.event-full {
          color: gray; }
        section#map-section div#map-event-list #event-list-area .event-list-item h5.event-basics {
          color: #babbba; }
          section#map-section div#map-event-list #event-list-area .event-list-item h5.event-basics .event-item-date {
            display: inline-block; }
        section#map-section div#map-event-list #event-list-area .event-list-item h5.event-location {
          margin-top: 0.9em; }
        section#map-section div#map-event-list #event-list-area .event-list-item .event-item-date {
          color: #babbba;
          display: block;
          font-size: 0.9em; }
        section#map-section div#map-event-list #event-list-area .event-list-item > p {
          margin-bottom: 0;
          margin-top: 16px; }
  section#map-section div#map {
    width: 100%;
    height: 600px; }

.leaflet-overlay-pane {
  position: relative; }
  .leaflet-overlay-pane svg {
    position: absolute; }
    .leaflet-overlay-pane svg circle {
      cursor: pointer;
      fill: #ea504e;
      opacity: 0.7;
      stroke: #983130; }
      .leaflet-overlay-pane svg circle[data-maxcapacity='true'] {
        fill: #ea504e;
        opacity: 0.3; }
      .leaflet-overlay-pane svg circle#center-item {
        fill: #147FD7; }
      .leaflet-overlay-pane svg circle.circle-selected {
        fill: #147FD7 !important; }

footer {
  padding-top: 10px;
  background-color: whitesmoke; }

/* For Phones! */
@media only screen and (min-width: 320px) and (max-width: 720px) {
  body {
    overflow-x: hidden;
    overflow-y: auto; }

  footer {
    display: none !important; }

  div#header {
    display: none; }
    div#header a#header-logo {
      margin-left: 0;
      width: 100%; }
      div#header a#header-logo img {
        margin-left: 0 !important; }
    div#header nav {
      display: none; }
    div#header div.main-title-area {
      display: none; }

  #ad-push-banner {
    display: none; }

  section#map-section {
    min-height: 0;
    height: auto !important;
    box-shadow: none !important;
    width: 100% !important; }
    section#map-section div#map-event-list {
      width: 100% !important;
      position: relative;
      border: none;
      min-height: 0;
      max-height: auto;
      top: auto;
      box-shadow: none !important;
      position: absolute;
      top: -17vh;
      left: 0;
      margin: 0;
      padding-bottom: 7px;
      padding-left: 0;
      padding-top: 0; }
      section#map-section div#map-event-list div#map-instructions {
        display: block;
        background-color: whitesmoke;
        padding: 2%;
        margin-bottom: 7px;
        font-size: 0.7em;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: #777777;
        font-weight: 600; }
        section#map-section div#map-event-list div#map-instructions > * {
          vertical-align: middle; }
        section#map-section div#map-event-list div#map-instructions img {
          height: 20px; }
        section#map-section div#map-event-list div#map-instructions span {
          font-weight: 600; }
      section#map-section div#map-event-list form#zip-and-distance div#zipcode-container {
        width: 7em;
        display: inline-block;
        vertical-align: middle; }
        section#map-section div#map-event-list form#zip-and-distance div#zipcode-container input[name=zipcode] {
          width: 92%;
          min-width: 92%;
          font-size: 0.9em;
          text-transform: uppercase; }
      section#map-section div#map-event-list form#zip-and-distance div#distance-container {
        width: 12em;
        vertical-align: middle;
        display: inline-block; }
        section#map-section div#map-event-list form#zip-and-distance div#distance-container ul#distance-list {
          text-align: left; }
          section#map-section div#map-event-list form#zip-and-distance div#distance-container ul#distance-list li {
            margin: 0 1%; }
            section#map-section div#map-event-list form#zip-and-distance div#distance-container ul#distance-list li label {
              padding: 0;
              font-size: 0.85em; }
            section#map-section div#map-event-list form#zip-and-distance div#distance-container ul#distance-list li:last-child {
              display: none;
              margin-right: 0; }
      section#map-section div#map-event-list div#event-list-area {
        max-height: inherit !important;
        overflow: none; }
        section#map-section div#map-event-list div#event-list-area ul#event-list li.event-list-item:last-child {
          padding-bottom: 20px;
          margin-bottom: 20px;
          border-width: 1px 0; }
        section#map-section div#map-event-list div#event-list-area div#footer-area {
          margin-top: 5px !important;
          border: solid 3px #EEEEEE !important;
          border-width: 0 !important;
          padding-top: 0px !important;
          width: 100% !important;
          display: block !important; }
        section#map-section div#map-event-list div#event-list-area > p {
          width: 98%; }
      section#map-section div#map-event-list div#event-results-area {
        position: absolute;
        margin: 0;
        background-color: white;
        width: 91%;
        padding: 0 2%; }
        section#map-section div#map-event-list div#event-results-area h2#event-results-count {
          margin-top: 10px !important; }
        section#map-section div#map-event-list div#event-results-area #bott-bg-logo {
          display: none !important; }
        section#map-section div#map-event-list div#event-results-area #bott-color-logo {
          display: inline-block !important; } }

/*# sourceMappingURL=map.css.map */
