#header #title {
  position: absolute;
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-weight: normal;
  top: 2px;
  left: 140px;
  letter-spacing: 5px;
  font-size: 1.3em; }
  #header #title a {
    text-decoration: none; }

#map-section #map-event-list #zip-and-distance #zipcode-container {
  width: 30%;
  min-width: auto;
  float: left; }
  #map-section #map-event-list #zip-and-distance #zipcode-container input[name=zipcode] {
    width: 99%;
    min-width: auto;
    text-transform: uppercase;
    letter-spacing: 2px; }
#map-section #map-event-list #zip-and-distance #distance-container {
  float: left;
  margin-top: -4px;
  margin-left: 11px;
  width: 65%; }
#map-section #map-event-list #daterange-opt {
  position: relative;
  float: right;
  width: 105px;
  font-size: 10px;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: whitesmoke;
  color: black;
  border-radius: 3px;
  cursor: pointer; }
  #map-section #map-event-list #daterange-opt:hover {
    background-color: lightgray; }
  #map-section #map-event-list #daterange-opt span#daterange-value {
    width: 80px;
    background-image: url(../img/icon/time.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    display: inline-block;
    padding: 7px 0 7px 24px;
    text-align: left;
    background-position: 4px center; }
  #map-section #map-event-list #daterange-opt ul#daterange-options {
    position: absolute;
    background-color: #FAFAFA;
    width: 105px;
    border-radius: 0 0 8px 8px;
    border: 3px solid lightgray;
    border-width: 0 0 2px 0;
    margin-top: -2px;
    display: none; }
    #map-section #map-event-list #daterange-opt ul#daterange-options li.daterange-options-item {
      padding: 0px 0;
      border: none;
      margin: 0; }
      #map-section #map-event-list #daterange-opt ul#daterange-options li.daterange-options-item label {
        cursor: pointer;
        width: 100%;
        display: inline-block;
        padding: 4px 0; }
        #map-section #map-event-list #daterange-opt ul#daterange-options li.daterange-options-item label input {
          display: none; }
      #map-section #map-event-list #daterange-opt ul#daterange-options li.daterange-options-item:hover {
        background-color: rgba(0, 0, 0, 0.1); }
      #map-section #map-event-list #daterange-opt ul#daterange-options li.daterange-options-item:last-child {
        border-radius: 0 0 8px 8px; }
  #map-section #map-event-list #daterange-opt select[name='daterange'] {
    display: none; }
#map-section #map-event-list #event-type-container {
  margin-top: 10px;
  border-radius: 3px;
  background-color: whitesmoke;
  width: 280px;
  float: left; }
  #map-section #map-event-list #event-type-container #event-type-list {
    text-align: center; }
    #map-section #map-event-list #event-type-container #event-type-list .event-type-item {
      border: none;
      margin: 0;
      display: inline-block;
      padding: 1%; }
      #map-section #map-event-list #event-type-container #event-type-list .event-type-item input[name='eventtype'] {
        display: none; }
      #map-section #map-event-list #event-type-container #event-type-list .event-type-item input[name='eventtype'] + label {
        cursor: pointer; }
      #map-section #map-event-list #event-type-container #event-type-list .event-type-item input[name='eventtype'] + label .etype-bullet {
        color: lightgray; }
      #map-section #map-event-list #event-type-container #event-type-list .event-type-item input[name='eventtype']:checked[value='E'] + label .etype-bullet {
        color: #258011; }
      #map-section #map-event-list #event-type-container #event-type-list .event-type-item input[name='eventtype']:checked[value='CW'] + label .etype-bullet {
        color: #AD50C7; }
      #map-section #map-event-list #event-type-container #event-type-list .event-type-item input[name='eventtype']:checked[value='R'] + label .etype-bullet {
        color: #F55B5B; }
      #map-section #map-event-list #event-type-container #event-type-list .event-type-item .etype-bullet {
        vertical-align: middle;
        font-size: 0.8em; }
      #map-section #map-event-list #event-type-container #event-type-list .event-type-item .etype-name {
        vertical-align: middle;
        text-transform: uppercase;
        font-size: 0.55em; }

.event-type {
  position: absolute;
  top: -16px;
  width: 100%;
  padding: 2px 10px 2px;
  font-size: 1em;
  left: 0px;
  text-transform: uppercase;
  color: gray;
  font-weight: normal;
  border-radius: 10px 10px 0 0;
  background: whitesmoke;
  letter-spacing: 1px; }
  .event-type .event-bullet {
    display: inline-block;
    font-size: 2.5em;
    vertical-align: middle; }
  .event-type .event-text {
    vertical-align: middle;
    margin-left: 4px; }
  .event-type.campaign-work .event-bullet {
    color: #AD50C7; }
  .event-type.rally .event-bullet {
    color: #F55B5B; }
  .event-type.meetup .event-bullet {
    color: #258011; }

.event-list-item {
  position: relative; }
  .event-list-item .event-type {
    position: relative;
    color: gray;
    background: none;
    top: auto;
    text-shadow: none;
    font-size: 0.8em;
    padding: 0; }

#upcoming-event {
  width: 100%;
  padding: 4px 0;
  background-color: #147FD7;
  margin-top: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 11px; }

#map svg circle {
  stroke: white;
  stroke-width: 2px; }
  #map svg circle.campaign-work {
    fill: #AD50C7; }
  #map svg circle.grassroots-event {
    fill: #258011; }
  #map svg circle.official-rally {
    fill: #F55B5B !important; }

.leaflet-popup-close-button {
  z-index: 1000;
  top: -13px;
  right: 3px; }

/* For Phones! */
@media only screen and (min-width: 320px) and (max-width: 720px) {
  #map-section #map-event-list #event-type-container {
    border: none;
    background-color: white;
    width: 95%;
    margin: 0;
    padding-bottom: 1px; }

  #map-section #map-event-list #zip-and-distance #distance-container {
    margin-top: 5px;
    margin-left: 3px; }

  #map-section #map-event-list #daterange-opt {
    position: absolute;
    right: 5px;
    bottom: -42px; } }

/*# sourceMappingURL=work-map.css.map */
